%h1 Welcome!

.new_user
  - if @user.errors
    .errors
      %ul
        - @user.errors.full_messages.each do |error|
          %li= error

  = form_for @user do |f|
    .field
      = f.label :email, 'Email'
      %br
      = f.text_field :email
    .field
      = f.label :password, 'Password'
      %br
      = f.password_field :password
    .field
      = f.label :password_confirmation, 'Password Confirmation'
      %br
      = f.password_field :password_confirmation
    .action
      = f.submit 'Login in / Sign up'
