%h2= "Project - #{@project.name}"

.name
  Name:
  = @project.name

.url
  URL:
  = @project.url

.collaborators
  Collaborators:
  = @project.users.map{|u| u.email}

.builds
  %table.builds{:border => '1'}
    %tr
      %th Status
      %th Last Commit
      %th Last Committer
      %th Action
    -# = render :partial => 'builds/build', :collection => @project.builds
    = render :partial => 'builds/build', :collection => @builds

  = 'This project has no builds!' if @project.builds.empty?
